doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    meta(name="author", content="Nick Doiron")
    meta(name="description", content="GeoReactor mapping library and consultancy")

    title GeoReactor
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Fjalla+One")
    link(rel="stylesheet", href="styles/lib/bootstrap.min.css")
    link(rel="stylesheet", href="lib/codemirror.css")
    link(rel="stylesheet", href="homepage.css")
  body
    .container.main
      .row
        .col-sm-12
          .jumbotron.main
            h1 GeoReactor
      .row
        .col-sm-6
          h2 An interactive maps library
          ul
            li Place your data on top of Google Maps or OpenStreetMap
            li Developer-friendly presets, user-friendly UI for different datasets
            li See it on desktop, mobile, and embedded maps
            li Update your data and refresh the map
            a.btn.btn-info(href="http://georeactor.github.io/georeactor-js/")
              strong See an Example

          h2 A consultancy
          p Do you need a website, a database, a little help setting up a map or visualization?
          p
            span Let's get in touch.
            a.btn.btn-info.margleft(href="mailto:ndoiron@mapmeld.com") E-mail me
            hr
            strong Work Samples
            br
            a.btn.btn-default(href="http://maps.cityofboston.gov/bikenetwork/") Boston Bike Plan
            a.btn.btn-default(href="http://asiafoundation.github.io/") Non-profit front-end
            a.btn.btn-default(href="http://crayonmap.herokuapp.com") Crayon Map
            a.btn.btn-default(href="http://www.mapplz.com/") MapPLZ - geodata for Ruby/Go/Node
            a.btn.btn-default(href="https://github.com/mapmeld/fortran-machine") Fortran.io 
            a.btn.btn-default(href="https://github.com/Georeactor/crypto-geofence") Encrypted Geo-Fences
           
        .col-sm-6
          h3 Sample Code
          textarea#code
      hr
      .row
        .col-sm-12
          hr
          h3 GeoReactor is free and open source
          p That means coders can add on to it, or make their own apps. And anyone can code, so that new app might be yours!
          p
            span Check out our&nbsp;
            a(href="https://github.com/georeactor") GitHub org
            span .
          hr
          small
            span &copy; 2016 Nick Doiron -&nbsp;
            a(href="mailto:ndoiron@mapmeld.com") Consultancy Inquiry
            span &nbsp;-&nbsp;
            a(href="/talks") Speaker Page
    script(src="/lib/codemirror.min.js")
    script(src="/lib/xml.js")
    script(src="/lib/javascript.js")
    script(src="/lib/htmlmixed.js")
    script(src="/homepage.js")
