doctype
html
  head
    meta(charset="utf-8")
    title Georeactor
    link(rel="stylesheet", type="text/css", href="styles/lib/bootstrap.min.css")
  body
    .navbar
      .container
        h1 Georeactor
    .container.main
      .row
        .col-sm-12.col-md-4
          h3 Drop in files
          p Shapefile, KML, GeoJSON, or TopoJSON
          p Visual and command-line users welcome
          code npm install -g georeactor
        .col-sm-12.col-md-4
          h3 Customization
          p Google Maps or Leaflet output
          p Set the data that comes up when you click
          p Embed images, audio, and video content
        .col-sm-12.col-md-4
          h3 Upload maps
          p These are pretty fun
          p Mobile-responsive CSS
          p Modern JavaScript (ReactJS)
          p Post the static site on your server, GitHub Pages, Amazon S3... with minimal cost and maintenance
      .row
        .col-sm-12
          hr
          h4 Georeactor is free and open source
          p That means coders can add on to it, or make their own apps. And anyone can code, so that new app might be yours!
          p
            span Check out our&nbsp;
            a(href="https://github.com/mapmeld/georeactor") GitHub project
            span .
          hr
          small &copy; 2016 Nick Doiron
