doctype
html
  head
    meta(charset="utf-8")
    title Georeactor
    link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=Fjalla+One")
    link(rel="stylesheet", type="text/css", href="styles/lib/bootstrap.min.css")
    style(type="text/css") h1, h2, h3, h4 { font-family: 'Fjalla One', sans-serif !important; }
  body
    .navbar
      .container
        h1 What is Georeactor?
    .container.main
      .row
        .col-sm-12
          h2 Georeactor is a JavaScript library
          p You can make interactive maps using ReactJS and your choice of Google Maps or OpenStreetMap.
      .row
        .col-sm-12
          h2 Georeactor is a command-line tool
          p Generating a map from a file is really easy:
          code npm install -g georeactor-cli
          br
          code georeactor counties.geojson --map google
      .row
        .col-sm-12
          h2 Georeactor will make a web map for you on this website
          button.btn.btn-success
            h2 Upload a File
          span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          button.btn.btn-info
            h2 See Examples First
      hr
      .row
        .col-sm-12
          h2 How Georeactor works
      .row
        .col-sm-12.col-md-4
          h3 Drop in files
          p Shapefile, KML, GeoJSON, or TopoJSON
          p Visual and command-line users welcome
        .col-sm-12.col-md-4
          h3 Customization
          p Google Maps or Leaflet output
          p Set the data that comes up when you click
          p Embed images, audio, and video content
        .col-sm-12.col-md-4
          h3 Upload maps
          p These are pretty fun
          p Mobile-responsive CSS
          p Modern JavaScript (ReactJS)
          p Post the static site on your server, GitHub Pages, Amazon S3... with minimal cost and maintenance
      .row
        .col-sm-12
          hr
          h4 Georeactor is free and open source
          p That means coders can add on to it, or make their own apps. And anyone can code, so that new app might be yours!
          p
            span Check out our&nbsp;
            a(href="https://github.com/mapmeld/georeactor") GitHub project
            span .
          hr
          small &copy; 2016 Nick Doiron
