doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
    title Sample Map
    link(type="text/css", rel="stylesheet", href="styles/fullscreenmap.css")
  body
    #map
    #sidebar
    script(type="text/javascript", src="scripts/lib/topojson.min.js")
    script(type="text/javascript", src="scripts/lib/react.min.js")
    script(type="text/javascript", src="scripts/lib/react-dom.min.js")
    script(type="text/javascript", src="scripts/lib/jsx-transformer.min.js")
    script(type="text/javascript") var georeactor = !{JSON.stringify(georeactor || {})};
    script(type="text/javascript", src="scripts/georeactor-client.js")
    script(type="text/jsx", src="scripts/georeactor-detail.js")
    script(async, defer, type="text/javascript", src="//maps.googleapis.com/maps/api/js?callback=initMap")
