doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    meta(name="author", content="Nick Doiron")
    meta(name="description", content="GeoReactor mapping library and consultancy")

    title GeoReactor
    link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=Fjalla+One")
    link(rel="stylesheet", type="text/css", href="styles/lib/bootstrap.min.css")
    style(type="text/css") h1, h2, h3, h4 { font-family: 'Fjalla One', sans-serif !important; }
  body
    .container.main
      .row
        .col-sm-12
          .jumbotron
            h1 Tech Talks, Ignites, &amp; Presentations
            
            a.btn.btn-info(href="mailto:ndoiron@mapmeld.com")
              h2 E-mail me
      .row
        .col-sm-12
          h3 Potential topics
          p I've spoken about a variety of topics and customize each presentation for my audience. Here are some things that I've talked about before:
          ul
            li Maps - art maps, city government GIS, new map tech (vector tiles, WebGL), libraries (D3, Leaflet, Google, OpenStreetMap)
            li Civic tech - opening up data, the Code for America fellowship
            li International development - One Laptop per Child (Uganda, Uruguay, Haiti, Marshall Islands, Nepal), civic tech in Asia (Burma/Myanmar, Mongolia)
            li
              span Airbnb - my life as a nomad, living only in Airbnbs worldwide (for over 2 years now -
              a(href="http://qz.com/643181/the-life-of-a-modern-day-nomad-who-hops-from-airbnb-to-airbnb-every-few-weeks/") Quartz article
              span )
            li Databases - geospatial queries, graph databases and the Panama Papers, posting your data as an API
            li Encryption - Bitcoin/Ethereum, Post-Quantum Encryption, Tor and the Dark Net
            li Learning to Code - prototypes with Arduino, various approaches to teaching programming
            li Language support - Unicode, right-to-left/Arabic support, i18n for maps, processing Burmese/Myanmar text, the Unicode crossword
      hr
      .row
        .col-sm-6
          h3 Serious, longform talks
          strong Wiring, Soldering, and Prototyping (RobotsConf)
          br
          iframe(width="560", height="315", src="https://www.youtube.com/embed/HSRTZ76iGbo", frameborder="0", allowfullscreen="yes")
          br
          strong If One Laptop per Child were started today... (JSConf Iceland)
          br
          iframe(width="560", height="315", src="https://www.youtube.com/embed/8MaH8wJ60eI", frameborder="0", allowfullscreen="yes")
          br
          strong Demolition and Dali in a Graph Database (GitHub CodeConf workshop)
          br
          iframe(src="//www.slideshare.net/slideshow/embed_code/key/vxNeJmoA2zbSQs", width="595", height="485", frameborder="0", marginwidth="0", marginheight="0", scrolling="no", style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;", allowfullscreen="yes")
          
        .col-sm-6
          h3 Fun, short talks
          strong Maps No One Wants (Ignite SF)
          br
          iframe(width="560", height="315", src="https://www.youtube.com/embed/Z5dk2L7ft34", frameborder="0", allowfullscreen="yes")
          br
          strong Interactive Fiction and the Hobbit Moon Map (Ignite NYC)
          br
          iframe(width="560", height="315", src="https://www.youtube.com/embed/Nfl1DH80xL4", frameborder="0", allowfullscreen="yes")
          br
          strong Unicode vs the World (Code for America)
          br
          iframe(src="//www.slideshare.net/slideshow/embed_code/key/dxhTPJWwW0Am9Q", width="595", height="485", frameborder="0", marginwidth="0", marginheight="0", scrolling="no", style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;", allowfullscreen="yes")
          br
          strong Living on the Run with Airbnb (NextEconomy Summit)
          br
          iframe(src="//www.slideshare.net/slideshow/embed_code/key/GQy6fg3OC9wpGx", width="595", height="485", frameborder="0", marginwidth="0", marginheight="0", scrolling="no", style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;", allowfullscreen="yes")
